<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

# Pastikan index.html diutamakan
DirectoryIndex index.html index.php

# CORS headers jika diperlukan
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule> 